body {
	font-family: Sans-serif;
	font-size: 11px;
}

/* sunburst */
.slice {
	cursor: pointer;
}

.slice .main-arc {
	stroke: #fff;
	stroke-width: 1px;
}

.slice .hidden-arc {
	fill: none;
}

.slice text {
	pointer-events: none;
	dominant-baseline: middle;
	text-anchor: middle;
}

/* network */
.link {
	stroke: #ccc;
}

.node text {
	pointer-events: none;
	font: 10px sans-serif;
}

/* tree */
.node {
	cursor: pointer;
}

.overlay {
	background-color: #EEE;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size: 10px;
	font-family: sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show {
	display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
	display: none;
}


/* tree list */

.tree_node {
	font-size: 12px;
}

.tree_node text {
    cursor: pointer;
  }

  .tree_node_selected {
    fill: #ff751a;
    font-weight: bold;
    font-size: 1.2rem;
  }

div.tree_node_tooltip {	
    position: absolute;			
    text-align: left;			
    width: 500px;					
    height: 150px;					
    padding: 10px;				
    font: 14px sans-serif;		
    background: black;
    color: white;	
    border: 0px;		
    border-radius: 4px;			
    pointer-events: none;			
}

/*
  .start {
    overflow:scroll;
    height:1000px
  }
*/
